<!DOCTYPE HTML>
<html>
 <head>
  <title> New Document </title>
  <meta charset='utf-8'>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
<!--[if lt IE 9]>
<script src="{{theme}}/js/html5.js"></script>
<![endif]-->
  <link href="{{theme}}/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel='stylesheet' type='text/css' href='{{theme}}/css/style.css'/>
  <!--link rel="stylesheet" media="screen and (max-width: 600px)" href="small.css" /-->


  <style>
	/*
	@media screen and (min-width: 900px) {
		.class {
			background: #666;
		}
	}
	*/
  </style>
 </head>

 <body>

<div class='warper-screen head'>
<div class='warper1000'>
	<div class='header'>
		<a class='logo' href='/'><img src='{{theme}}/images/logo.png'/></a>
		<form class="form-search form-inline" method='post' action='/search' target='_blank'>
			<input type="text" class="input-medium search-query" name='query' placeholder='请输入关键词 用空格隔开'>
			<button type="submit" class="btn btn-primary"><i class='icon-search icon-white'></i></button>
	    </form>
	</div>
</div>
</div>

<div class='warper1000'>

<!-- 	<div class='top-banner'>
		<img src='http://placehold.it/1000x90'>
	</div> -->
	
	<div class='content'>
		<div class='main'>
		<% if (parts.length==0) { %>
		<h3>该分类下没有产品</h3>
		<% }else{ %>
			<div class='order-by'>
				条件过滤：
				<a href='javascript:;' class='show-all btn'>全部</a>
				<select>
				<option value='select-title'>品牌</option>
				<% brands.forEach(function(brand){ %>
					<option href='javascript:;' value='<%= sort_index[brand] %>'><%= brand %></option>
				<% }) %>
				</select>
				<select>
				<option value='select-title'>来源</option>
				<% from_sites.forEach(function(from_site){ %>
					<option href='javascript:;' value='<%= sort_index[from_site] %>'><%= from_site %></option>
				<% }) %>
				</select>
			</div>
			<div class='search-title'>
				<span class='float-right go-top'>返回顶部</span>
				<strong>
					<%if(search){%>
						<%= query %>
					<%}else{%>
						<%= category %>
					<%}%></strong>
			</div>
			<div class='result-list'>
					<table style='display:block;'>
						<tr>
							<th style='width:480px'>产品名称</th>
							<th style='width:80px'>价格</th>
							<th style='width:40px'>人气</th>
							<th>来源</th>
						</tr>
						<% parts.forEach(function(part){ %>
						<tr class='<%= sort_index[part.from_site] %> <%= sort_index[part.brand] %>'>
							<td class='td-first' style='width:480px'>
								<strong>
									<a href="<%= part.url %>" target='_blank'>
									<%= part.name %>
									</a>
								</strong>
							</td>
							<td style='width:80px'>
								<%= part.price %>
							</td>
							<td style='width:40px'>
								<%= part.comment_info %>
							</td>
							<td>
								<%= part.from_site %>
							</td>
						</tr>
				  		<% }) %>
				  	</table>
				<% } %>
				</ul>
			</div>
			<div id='fluor-more'>more</div>
		</div>
		<div class='right'>
			<img src='http://placehold.it/200x500'>
		</div>
	</div>
</div>
<script type="text/javascript">
	var PARTSID = (document.location.href).split('/')[4];
</script>
<script src="{{theme}}/js/jQuery-min-v1.9.1.js" type="text/javascript" ></script>
<script src="{{theme}}/js/bootstrap.min.js" type="text/javascript" ></script>
<script src="{{theme}}/js/jQuery-keepTop.js" type="text/javascript" ></script>
<script src='{{theme}}/js/mender.js' type='text/javascript'></script>
<script src="{{theme}}/js/fluor.js" type="text/javascript" ></script>
<script src="{{theme}}/js/style.js" type="text/javascript" ></script>
 </body>
</html>
